* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15%;
  align-items: center;
  height: 100vh;
}

.nav-bg {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  width: 100vw;
  padding-bottom: 20px;
  width: 90%;
  padding-left: 20px;
  padding-top: 20px;
  border: 2px solid;
}

.nav-list ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-list ul li a {
  text-decoration: none;
  color: black;
}

.Books-Container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}

#Author,
#Title {
  width: 90%;
  height: 35px;
  border: 2px solid black;
}

#Add-Button {
  width: 40%;
  height: 30px;
  background-color: purple;
}

.footer {
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  border: 2px solid;
  padding: 20px 0 20px 20px;
}

.info {
  padding-bottom: 30px;
}

.contact-details ul {
  padding-top: 50px;
  padding-left: 30px;
}

.contact-details ul li {
  padding-bottom: 10px;
}

.books-list {
  border: 2px solid;
}

.books-list div {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}