* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Books-Container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 50%;
}
